/*
Theme Name: Impreza Child
Template: Impreza
Version: 1.0
Author:	UpSolution
Theme URI: http://impreza.us-themes.com/
Author URI: http://us-themes.com/
*/

/*Add your own styles here:*/

/* Helpers */
.vertical-middle {
	display: inline-block;
	vertical-align: middle !important;
}
.verticle-middle-children > * {
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}
.space-children > * {
  margin-right: 1rem;
}
.text-center {
  text-align: center;
}


@media screen and (max-width: 600px) {
	.hide-mobile {
		display: none;
	}	
}

/* Overrides */
body .enlighter-default {
	padding: 20px;
}

body .w-btn {
	cursor: pointer;
}

/* Home */
.w-grid-item.post-403 a,
.w-grid-item.post-403 img {
	display: inline-block;
	width: 100%;
}

/* Grids */
.l-section.narrow > .l-section-h {
	max-width: 650px;
}

/* Models */
.layout_139 .usg_post_title_1 {
	margin: 20px 0 !important;
}
.layout_139 > .w-grid-list > .w-grid-item {
	margin-bottom: 20px;
}


/* Newsletter */
.mc4wp-form label {
	display: flex;
}
.mc4wp-form input[type="submit"] {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.mc4wp-alert.mc4wp-success {
  background: #36c6b8;
  padding: 10px;
}

/* Author Meta */
.author-meta {
	display: flex;
	flex-direction: row;
}
.author-meta > div:first-child {
	padding-right: 10px;
	padding-bottom: 10px;
}
.author-meta:after {
	content: '';
	display: block;
	clear: both;
}